/* Global styles */
body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aaa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #999;
}

p {
    color: #977497;
}

/* Header styles */
header {
    background-color: #7fc73b;
    color: #fff;
    padding: 20px;
}

.logo {
    font-size: 40px;
    font-weight: var(#977497);
}

/* Navigation styles */
nav ul {
    list-style: none;
    padding: 10;
}

nav ul li {
    display:inline;
    margin-right: 20rcap;
}

nav ul li a {
    color: maroon;
    text-decoration: none;
}

/* Section styles */
section {
    padding: 20px;
    margin-bottom: 30px;
    background-color: beige;
    border-radius: 40px;
}

section h2 {
    color: #977497;
}

section p {
    color: navy;
}

/* Project styles */
.project {
    border-bottom: 20px solid burlywood;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.project h3 {
    color: #0056b3;
}

.project p {
    color: #111;
}

.project a {
    color: #007bff;
    text-decoration: olivedrab;
}

.project a:hover {
    text-decoration: underline;
}

/* Form styles */
form {
    max-width: 700px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
